<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div class="main-container">
    <div class="content-container">
        <header class="header">
            <a href="/">
                <h1>ToDo</h1>
            </a>
            <a href="/logout">
                <h3>Log Out</h3>
            </a>
        </header>
        <section class="contents">
                <h1>Add a Task</h1>
                <input class="task-input" id="task-input" type="text">
                <h3 class="main-list"></h3>
        </section>
        <div class="button">
            <button id="button">Enter</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="script.js"></script>
</body>
</html>

