<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="createTask.css">
</head>
<body>
    <div class="main-container">
        <div class="content-container">
            <header class="header">
                <h1>ToDo</h1>
                <a href="/login">
                    <h3>Login/Sign Up</h3>
                </a>
            </header>
            <section class="contents">
                <div class="image">
                    <img src="assets/image2.png" width="350px" height="350px">
                </div>
                <div class="message">
                    <h1>Add a Task to Your List</h1>
                    <h3>Jot it Down Anytime and Anywhere</h3>
                </div>
                <div class="buttons">
                        <a id="back" href="/">BACK</a>
                    <a href="/markDone">NEXT</a>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
