<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
        <link rel="stylesheet" type="text/css" href="welcome.css">
</head>
<body>
    <div class="main-container">
        <div class="content-container">
            <header class="header">
                    <h1>ToDo</h1>
                <a href="/login">
                    <h3>Login/Sign Up</h3>
                </a>
            </header>
            <section class="contents">
                <div class="image">
                    <img src="assets/image1.png" width="350px" height="350px">
                </div>
                <div class="message">
                    <h1>Keep Track of Your Tasks</h1>
                    <h3>Never Have an 'Uh-Oh' Moment Again</h3>
                </div>
                <div class="buttons">
                    <a href="/login">
                        <button>Welcome</button>
                    </a>
                </div>
            </section>
        </div>
    </div>
</body>
</html>