body {
    position: relative;
    background: rgb(204, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main-container {
    width: 375px;
    height: 812px;
    background-image: url('../Assets/purple3.png');
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    border-radius: 50px;
    box-shadow: 5px 5px 5px grey;
    transition: 0.2s ease-in;  
  }
  .content-container {
    width: 375px;
    height: 700px;
    border-radius: 50px;
    background-image: url('../Assets/purple4.png');
    box-shadow: 5px 5px 5px grey;
    transition: 0.5s ease-out;
    font-family: 'Poppins', sans-serif;
  }
  header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 5% 10%;
    align-items: center;
  }
  .header a {
    color: white;
    text-decoration: none;
  }
  .header a:hover {
    text-shadow: 1px 1px white;
  }
  .header h3 {
    font-size: smaller;
    letter-spacing: 1px;
    font-weight: lighter;
  }
  .header h3:hover {
    text-shadow: 1px 1px white;
    
  }

  .contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
.contents h3 {
  color: grey;
  font-size: 15px;
}
.image {
  margin-top: 70px;
}
.message {
  line-height: 10px;
  margin-bottom: 130px;
}
.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.buttons a {
  width: 75px;
  height: 25px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(170, 170, 204, 0.25), 5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px rgba(170, 170, 204, 0.5);
  border-radius: 32px;
  background: #F5F5FA;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #db5d51;
  font-weight: bold;
  outline: white;
  border: white;
  text-decoration: none;
}
.buttons a:hover {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px rgba(170, 170, 204, 0.5);
}